# Ignore compiled object files
*.o

# Ignore compiled dynamic libraries
*.so

# Ignore compiled static libraries
*.a

# Ignore executable files
*.out
*.exe
*.heap

# Ignore any other binary files
*.bin

# Ignore specific build directories if you have them
build/
bin/
